*{
    margin: 0px;
    padding: 0%;
}
body{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    background-color: rgb(247, 214, 242);
    overflow-x: hidden;

    
}
.top{
    background: #642B73;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C6426E, #642B73);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     height: 300px;
}
.homeContainer{
    margin-top: -100px;
    background-color: white;
   
   position: relative;
   width: 80%;    
   margin-left: auto;
   margin-right:auto;
   
   border-top-left-radius:20px ;
   border-top-right-radius:20px ;
}
 .listContainer{
     margin-top: -120px;
     background-color: white;    
    position: relative;
    width: 68%;    
    margin-left: auto;
    margin-right:auto;
    padding-top: 30px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;

       
}
.listContainer li {    
    list-style-type: none;    
    
    margin:15px 25px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

} 
.listContainer label{
    width:100%;
    background-color: #e4eff0; 
    padding: 30px 5px;
    border-left: 6px solid #C6426E;
    font-size: 19px;
    border-radius: 3px;
}

 input[type=checkbox]{
     position: absolute;  

    right: 40px;
    margin-top:10px ;
    height: 20px;     
    width: 20px;
}
input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
    font-style: italic;
    border-left: 6px solid #0cf173;
    background-color: rgba(168, 166, 166, 0.644); 


    
}
 


@media screen and (max-width: 767px) {
    .listContainer{
        width: 98%;    
       
        
    }
  }